<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-admob-mediation-liftoff-jd" version="1.0.0">

    <name>AdMob Mediation Adapter for liftoff </name>
    <description>AdMob Mediation Adapter for liftoff </description>
    <author>Sylvain Bréjeon</author>
    <keywords>admob,mediation,liftoff</keywords>
    <license>MIT</license>

    <platform name="android">
        <preference name="GOOGLE_ADS_MEDIATION_VUNGLE_VERSION_ANDROID" default="6.12.1.1" />
        <framework src="com.google.ads.mediation:vungle:$GOOGLE_ADS_MEDIATION_VUNGLE_VERSION_ANDROID" />
    </platform>

</plugin>