<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-admob-mediation-liftoff-jd" version="1.0.0">

    <name>AdMob Mediation Adapter for liftoff </name>
    <description>AdMob Mediation Adapter for liftoff </description>
    <author>Sylvain Bréjeon</author>
    <keywords>admob,mediation,liftoff</keywords>
    <license>MIT</license>

    <platform name="android">
        <preference name="GOOGLE_ADS_MEDIATION_VUNGLE_VERSION_ANDROID" default="6.12.1.1" />
        <framework src="com.google.ads.mediation:vungle:$GOOGLE_ADS_MEDIATION_VUNGLE_VERSION_ANDROID" />
    </platform>
    <platform name="ios">
        <!-- https://developers.google.com/admob/ios/mediation/liftoff-monetize -->
        <!-- todo: add requried code 
            let placements = ["PLACEMENT_ID_1", "PLACEMENT_ID_2"]
            extras.allPlacements = placements
            request.register(extras) -->
        <preference name="GOOGLE_ADS_MEDIATION_VUNGLE_VERSION_IOS" default="~> 7.0.0.0" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="GoogleMobileAdsMediationVungle" spec="$GOOGLE_ADS_MEDIATION_VUNGLE_VERSION_IOS" />
            </pods>
        </podspec>
        <!-- Add in the swift-support plugin by default -->
        <!-- <dependency id="cordova-plugin-add-swift-support" /> -->
    </platform>


</plugin>